AED/2023.1/Projeto 1/.replit
AED/2023.1/Projeto 1/main
AED/2023.1/Projeto 1/main-debug
AED/2023.1/Projeto 1/main.o
AED/2023.1/Projeto 1/rascunho.txt
AED/2023.1/Projeto 1/replit.nix
AED/2023.1/Projeto 1/replit_zip_error_log.txt
AED/2023.1/Projeto 1/uno_data.txt
AED/2023.1/Projeto 1/.cache
AED/2023.1/Projeto 1/.ccls-cache
AED/2023.1/Projeto 1/.local