[submodule "AED/Repo-AED/Cinepolis"]
	path = AED/Repo-AED/Cinepolis
	url = https://github.com/brazatec/Poker-AED-Cinepolis.git
[submodule "AED/Repo-AED/Filhos_do_Limoeiro"]
	path = AED/Repo-AED/Filhos_do_Limoeiro
	url = https://github.com/MatheusSena02/Poker_Filhos_do_Limoeiro.git
[submodule "AED/Repo-AED/Nata_Reis"]
	path = AED/Repo-AED/Nata_Reis
	url = https://github.com/NeyzinGameplays/AED.git
[submodule "AED/Repo-AED/Potech"]
	path = AED/Repo-AED/Potech
	url = https://github.com/brazatec/Poker-AED-Potech.git
[submodule "AED/Repo-AED/White_Castle"]
	path = AED/Repo-AED/White_Castle
	url = https://github.com/brazatec/Poker-AED-White-Castle.git
[submodule "AED/25.1 - Poker/Cinepolis"]
	path = AED/25.1 - Poker/Cinepolis
	url = https://github.com/brazatec/Poker-AED-Cinepolis.git
[submodule "AED/25.1 - Poker/Filhos_do_Limoeiro"]
	path = AED/25.1 - Poker/Filhos_do_Limoeiro
	url = https://github.com/MatheusSena02/Poker_Filhos_do_Limoeiro.git
[submodule "AED/25.1 - Poker/Nata_Reis"]
	path = AED/25.1 - Poker/Nata_Reis
	url = https://github.com/NeyzinGameplays/AED.git
[submodule "AED/25.1 - Poker/Potech"]
	path = AED/25.1 - Poker/Potech
	url = https://github.com/brazatec/Poker-AED-Potech.git
[submodule "AED/25.1 - Poker/White_Castle"]
	path = AED/25.1 - Poker/White_Castle
	url = https://github.com/brazatec/Poker-AED-White-Castle.git
